/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}


/* BACKGROUND IMAGE */

body {
    font-family: Verdana, Helvetica, sans-serif;
    background-image:linear-gradient(rgba(241,241,241,.5), rgba(241,241,241,.9)), url("/images/ludemeula-fernandes.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;
}

/* HEADER + NAV */

#header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(233, 223, 210);
    padding: 0.3em;
    position: fixed;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 3px 0px;
}

#brand {
    display: flex;
    align-items: center;
    flex-basis: 20%;
}

#header-img {
    max-height: 5em;
}

h1 {
    color: #cb6229;
    font-weight: bold;
    font-size: 2em;
}

#nav-bar {
    display: flex;
    flex-basis: 80%;
    justify-content: flex-end;
}

#nav-bar > ul {
    display: flex;
    flex-basis: 50%;
    justify-content: space-around;
}

@media (min-width: 600px) and (max-width: 1024px) {
    #nav-bar > ul {
        flex-basis: 80%;
    }
}

@media (max-width: 599px) {
    #header, #nav-bar > ul {
        flex-direction: column;
        justify-content: center;
    }
    #nav-bar > ul > li {
        margin: 0.5em 1em;
    }
}

.nav-link {
    text-decoration: none;
    color: rgb(90, 90, 90);
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5em 1em;
}

.nav-link:hover {
    color: black;
}

/* MAIN CONTAINER */

main {
    position: relative;
    top: 250px;
}

#form {
    margin: auto;
    margin-bottom: 5em;
    text-align: center;
    max-width: 900px;
}

#form > h2 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 1em;
}

#email {
    margin-bottom: 2em;
    min-width: 70%;
    padding: 10px;
}

#submit {
    display: block;
    margin: auto;
    padding: 1em 2em;
    background-color: #cb6229;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border-radius: 0.5em;
    transition: background-color 0.3s;
}

#submit:hover {
    color: black;
    background-color: rgb(233, 223, 210);
}

#rooms {
    margin: auto;
    max-width: 900px;
    background-color: rgb(255, 249, 242);
    padding: 2.5em;
    border-radius: 1em;
    margin-bottom: 5em;
    scroll-margin-top: 250px;
}

.room {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.room:last-child {
    margin-bottom: 0;
}

.room > h2 {
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.room > p {
    margin-top: 1em;
}

.fas {
    margin-right: 0.5em;
}

.fa-cat {
    color: #cb6229;
}

.fa-book-open {
    color: #2998cb;
}

.fa-mug-hot {
    color: #6acb29;
}

/* VIDEO */

#responsive-video {
    display: flex;
    width: 100%;
    justify-content: center;
    scroll-margin-top: 250px;
}

/* DRINKS */

#drinks {
    margin: auto;
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
    scroll-margin-top: 250px;
    max-width: 1200px;
}

@media (max-width: 830px) {
    #drinks {
      display: block;
      max-width: 80%;
    }
}

.drink {
    background-color: #1f262c;
    margin: 15px 8px;
    padding: 30px;
    border-radius: 6px;
    background-color: white;
    flex: 1;
    margin: 0 1em;
    padding-bottom: 1.5em;
    border-radius: 0% 0% 10% 10%;
}

@media (max-width: 830px) {
    .drink {
    margin-bottom: 1em;
    }
}

.drink > h3 {
    font-weight: bold;
    font-size: 1.5em;
    padding: 1em 0;
    background-color:rgb(233, 223, 210);
    width: 100%;
    text-align: center;
}

.drink > p {
    margin: 0.5em 0;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.drink > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drink > ul > li {
    padding: 1em 0;
}

.drink > a {
    display: block;
    margin: auto;
    max-width: 150px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1em 2em;
    background-color: #cb6229;
    color: white;
    margin-top: 1em;
    border-radius: 20px;
}

.drink > a:hover {
    color: black;
    background-color:rgb(233, 223, 210);
}

#footer {
    margin: auto;
    text-align: right;
    margin-top: 5em;
    padding: 2em 2em;
    background-color:rgba(241,241,241);
}

#footer a {
    color:rgb(90, 90, 90);
}